**Deadline: 23:59, 04/03/2023**

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/ML'

Mounted at /content/gdrive
/content/gdrive/MyDrive/ML

**Import

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Task 1. 
The main aim of this task is to get familiar with the tasks of preprocessing data using Scikit-learn â€“ a Python-based Machine Learning framework and Linear Regression.

For given 2 datasets (preprocessing_weather.csv, preprocessing_salary_dummy.csv), 
*   Identify issues with these datasets
*   Then, apply preprocessing techniques to the datasets

#Task 1.1. Dataset preprocessing_weather.csv

**Issues**:


1.   List item
2.   List item
3.   List item
4.   List item
....

**Preprocessing dataset**:

In [ ]:
#code
data = pd.read_csv("preprocessing_weather.csv")
data

    id   outlook temperature humidity  windy play
0    1     sunny          85       85  False   no
1    2     sunny          80       90   True   no
2    3  overcast          83       86  False  yes
3    4     rainy       NaN         96  False  yes
4    5     rainy          68       80  False  yes
5    6     rainy          65       70   True   no
6    7  overcast          64       65   True  yes
7    8     sunny          72       95  False   no
8    9     sunny          69    NaN    False  yes
9   10     rainy          75       80  False  yes
10  11     sunny          75       70   True  yes
11  12  overcast          72       90   True  yes
12  13  overcast          81       75  False  yes
13  14     rainy          71       91   True   no

In [ ]:
imputer = SimpleImputer(missing_values = np.nan, strategy = "mean")
data[['temperature', 'humidity']] = imputer.fit_transform(data[['temperature','humidity']])
data

    id   outlook  temperature   humidity  windy play
0    1     sunny    85.000000  85.000000  False   no
1    2     sunny    80.000000  90.000000   True   no
2    3  overcast    83.000000  86.000000  False  yes
3    4     rainy    73.846154  96.000000  False  yes
4    5     rainy    68.000000  80.000000  False  yes
5    6     rainy    65.000000  70.000000   True   no
6    7  overcast    64.000000  65.000000   True  yes
7    8     sunny    72.000000  95.000000  False   no
8    9     sunny    69.000000  82.538462  False  yes
9   10     rainy    75.000000  80.000000  False  yes
10  11     sunny    75.000000  70.000000   True  yes
11  12  overcast    72.000000  90.000000   True  yes
12  13  overcast    81.000000  75.000000  False  yes
13  14     rainy    71.000000  91.000000   True   no

#Task 1.2. Dataset preprocessing_salary_dummy.csv

**Issues**:


1.   List item
2.   List item
3.   List item
4.   List item
....

**Preprocessing dataset**:

In [ ]:
#code
data = pd.read_csv("preprocessing_salary_dummy.csv")
data

   No    Country   Age     Salary  Purchased
0   1     France  44.0     72000.0        No
1   2      Spain  27.0     48000.0       Yes
2   3    Germany  30.0     54000.0        No
3   4      Spain  38.0     61000.0        No
4   5    Germany  40.0         NaN       Yes
5   6     France  35.0     58000.0       Yes
6   7      Spain   NaN     52000.0        No
7   8     France  48.0     79000.0       Yes
8   9    Germany  50.0     83000.0        No
9  10     France  37.0     67000.0       Yes

In [ ]:
imputer = SimpleImputer(missing_values=np.NaN, strategy="mean")
data[[' Age','   Salary ']]= imputer.fit_transform(data[[' Age','   Salary ']])
data

   No    Country        Age       Salary  Purchased
0   1     France  44.000000  72000.000000        No
1   2      Spain  27.000000  48000.000000       Yes
2   3    Germany  30.000000  54000.000000        No
3   4      Spain  38.000000  61000.000000        No
4   5    Germany  40.000000  63777.777778       Yes
5   6     France  35.000000  58000.000000       Yes
6   7      Spain  38.777778  52000.000000        No
7   8     France  48.000000  79000.000000       Yes
8   9    Germany  50.000000  83000.000000        No
9  10     France  37.000000  67000.000000       Yes

# **Task 2**. Simple Linear Regression in Scikit-Learn
---
# **Usage:**
> **Step 1**: build a model
![image.png]()

> **Step 2**: test the model

*   With test set:
`y_pred = regressor.predict(X_test)`

*   With a single value ("predict" method always expects a 2D array as the format of its inputs)
`regressor.predict([[12]])`

> **Step 3**: 
*   get w0, w1 , w2, â€¦,
-- W0: `regressor.intercept_`
-- w1, w2, â€¦: `regressor.coef_`
*   R^2 score: sum of squared r(i)
`r(i) = y(i) - f(x(i))`: residual of ith instance


> **Metrics**:
*   metrics.explained_variance_score(y_test, y_pred)
*   metrics.mean_absolute_error(y_ test, y_pred) 
*   metrics.mean_squared_error(y_ test, y_pred[, ...])
*   metrics.mean_squared_log_error(y_ test, y_pred)
*   metrics.median_absolute_error(y_ test, y_pred)
*   metrics.r2_score(y_ test, y_pred[, ...])



---

# Tasks
The main aim of these tasks is to get familiar with Linear Regression problems. Apply LinearRegression to the following datasets. Note the error obtained and coefficients
*   **dataset1.csv** - a synthetic dataset including 5 points (1-dimensional data) with one target
*   **dataset2.csv** - a synthetic dataset including 1000 points (3-dimensional data) with one target variable. The variables are named x1, x2, x3, y. y is the variable to be regressed. Split the dataset into training set and test set (70% for training set and 30% for test set).

# Task 2.1. dataset1.csv

In [103]:
#code
data = pd.read_csv("dataset1.csv")
x_train = data[['x']]
y_train = data[['y']]
x_train

   x
0  1
1  2
2  4
3  3
4  5

In [ ]:
regressor = LinearRegression()
regressor.fit(x_train, y_train)
print(regressor.intercept_)
print(regressor.coef_)

[0.4]
[[0.8]]

In [ ]:
y_pred = regressor.predict(x_train)
y_pred
#y = 0.4 + 0.8x

array([[1.2],
       [2. ],
       [3.6],
       [2.8],
       [4.4]])

In [104]:
r2 = metrics.r2_score(y_train, y_pred)
r2

0.7272727272727273

# Task 2.2. dataset2.csv

In [158]:
#code
data = pd.read_csv("dataset2.csv")
id_train = data[['id']]
x1_train = data[['x1']]
x2_train = data[['x2']]
x3_train = data[['x3']]
y_train = data[['y']]
x1_train

          x1
0    2.41710
1    1.98150
2    1.82850
3    1.50480
4    0.27489
..       ...
594  1.64550
595 -1.16320
596 -1.61920
597 -0.34407
598 -0.12172

[599 rows x 1 columns]

In [120]:
regressor = LinearRegression()
regressor.fit(x1_train, y_train)
print(regressor.intercept_)
print(regressor.coef_)

[3.82046433]
[[2.97886771]]

In [121]:
y_pred = regressor.predict(x1_train)
y_pred

array([[11.02068548],
       [ 9.7230907 ],
       [ 9.26732394],
       [ 8.30306447],
       [ 4.63932528],
       [ 2.61211643],
       [-1.73333663],
       [ 6.12342696],
       [ 9.24140779],
       [ 0.46328042],
       [ 8.88692254],
       [-2.57278155],
       [ 2.01515135],
       [ 0.36736088],
       [-1.34906269],
       [ 5.77162268],
       [ 1.08547652],
       [10.65875305],
       [ 3.80071444],
       [ 7.37425351],
       [-3.43665319],
       [ 5.38964248],
       [ 4.9591663 ],
       [ 8.39868612],
       [ 6.12861019],
       [ 9.45380106],
       [ 9.81364828],
       [-1.35919084],
       [-0.75835323],
       [ 8.15441897],
       [-2.72261859],
       [ 2.17952527],
       [ 0.84100085],
       [ 7.30842054],
       [-2.07471487],
       [ 8.17824991],
       [ 8.03139173],
       [ 4.30301111],
       [ 0.14692467],
       [-2.56980268],
       [ 5.6942317 ],
       [-3.25911267],
       [-2.70266018],
       [-1.69610078],
       [ 3.08489253],
       [ 6.38729506],
       [ 9.12463618],
       [ 3.79730959],
       [-2.90015911],
       [ 1.04761511],
       [ 5.92997929],
       [ 8.08590501],
       [ 0.68014199],
       [ 3.7887096 ],
       [ 8.5634175 ],
       [ 5.23733297],
       [ 4.36297572],
       [ 1.30144443],
       [ 2.5051453 ],
       [ 8.19939987],
       [ 1.4851512 ],
       [ 3.26350544],
       [ 1.85179024],
       [ 6.49504071],
       [ 4.8300026 ],
       [ 6.08106746],
       [ 3.68811026],
       [ 2.30806341],
       [ 3.48510341],
       [-2.63503988],
       [ 2.49528524],
       [10.80739855],
       [ 8.00160305],
       [ 7.23156575],
       [ 7.77729431],
       [ 7.64205372],
       [ 8.93339287],
       [ 7.84431884],
       [10.94978843],
       [-1.9680714 ],
       [ 2.27258509],
       [ 3.70221222],
       [ 0.21752384],
       [-3.07621019],
       [10.88604066],
       [ 7.19284047],
       [-1.42293861],
       [-1.42383227],
       [ 6.87112276],
       [ 2.04794868],
       [-2.48847959],
       [ 2.49248511],
       [-1.49681453],
       [ 8.27268001],
       [10.22860455],
       [-3.55640367],
       [ 6.05521089],
       [ 6.47958038],
       [ 0.1507972 ],
       [ 8.93190344],
       [ 0.75163482],
       [-3.22664301],
       [-2.23706316],
       [ 8.2571899 ],
       [ 6.9691275 ],
       [ 8.04151988],
       [ 5.66620056],
       [ 8.66737999],
       [-3.10510521],
       [ 2.41256209],
       [ 0.09181562],
       [ 3.5359348 ],
       [ 9.49282423],
       [ 0.553838  ],
       [ 5.29711885],
       [-3.23617539],
       [-1.3151036 ],
       [ 8.79398186],
       [-0.72379836],
       [ 8.7323193 ],
       [ 1.40868367],
       [ 6.36912397],
       [-2.84683738],
       [ 7.31020786],
       [ 3.81274609],
       [10.42312462],
       [ 0.68937648],
       [ 1.98190718],
       [-1.93232499],
       [10.74424655],
       [ 2.81527521],
       [-2.36723968],
       [ 7.04776961],
       [ 3.92155817],
       [ 1.2599488 ],
       [ 7.59647704],
       [ 8.82496209],
       [ 0.15228663],
       [ 4.33321683],
       [ 2.85480479],
       [-1.27786775],
       [ 5.31707726],
       [10.33614168],
       [-2.02169102],
       [ 9.77790187],
       [ 4.57209223],
       [ 2.73848   ],
       [-1.35710564],
       [ 0.06023962],
       [ 3.03654551],
       [ 4.30876033],
       [ 1.65560201],
       [ 7.88840608],
       [ 9.50533547],
       [ 7.30722899],
       [ 2.42683086],
       [ 5.37212674],
       [ 5.92214487],
       [-1.72827255],
       [ 3.76374669],
       [ 0.99754035],
       [ 4.99077209],
       [10.42759292],
       [ 2.73228396],
       [-3.13340445],
       [10.21668908],
       [10.15026033],
       [ 1.71002593],
       [ 0.24552519],
       [ 8.09305429],
       [ 3.99297354],
       [ 4.75177753],
       [ 6.57284873],
       [-2.25046806],
       [ 9.36979699],
       [10.41776265],
       [-2.18791184],
       [ 8.97211815],
       [ 9.91820654],
       [-3.45780315],
       [ 4.17319206],
       [ 6.05976856],
       [ 2.10978997],
       [ 6.04421887],
       [ 7.73559017],
       [ 4.94775724],
       [ 5.78532548],
       [ 0.51690004],
       [ 8.88215635],
       [ 2.73070516],
       [ 5.78088696],
       [ 8.78713047],
       [ 0.39744745],
       [ 2.34294595],
       [ 4.62854178],
       [ 2.98438553],
       [-2.28055463],
       [ 7.46034279],
       [-3.14085162],
       [ 2.77401789],
       [-3.07174189],
       [10.90719062],
       [ 4.15320386],
       [ 9.92148329],
       [ 2.08152052],
       [ 9.54674173],
       [ 0.17164927],
       [ 9.91284458],
       [ 9.69717455],
       [ 2.30895707],
       [ 5.68255454],
       [ 4.82729183],
       [ 9.69657878],
       [-0.4369334 ],
       [-3.5692128 ],
       [ 9.4889517 ],
       [-0.12474806],
       [ 0.02032279],
       [ 5.91934473],
       [ 0.90897861],
       [ 8.67035885],
       [ 9.53512415],
       [10.45410484],
       [ 2.19394299],
       [ 8.30842643],
       [-1.28650647],
       [ 5.68472911],
       [ 6.78422919],
       [-2.34787704],
       [ 4.28486981],
       [ 9.60780852],
       [ 0.30033636],
       [-0.12981214],
       [ 8.87947537],
       [ 3.75403558],
       [-1.35740352],
       [-0.18968738],
       [ 6.17308469],
       [ 4.75803316],
       [ 0.71976093],
       [ 5.64210152],
       [ 7.03615203],
       [ 0.55473166],
       [ 2.51384359],
       [ 1.76811385],
       [ 8.0117312 ],
       [-1.60881996],
       [ 9.80888209],
       [ 0.68729127],
       [ 3.81388104],
       [ 8.04449875],
       [ 6.45768571],
       [-1.39523514],
       [ 6.74898918],
       [-1.70503738],
       [10.46244567],
       [ 9.57593464],
       [ 4.04394793],
       [ 6.49262782],
       [10.92208496],
       [-1.75806123],
       [ 7.57741229],
       [ 8.6918067 ],
       [ 8.01232698],
       [-0.7836736 ],
       [ 2.75763412],
       [-3.41133281],
       [ 1.21821487],
       [-1.62043754],
       [ 3.08346267],
       [ 4.89693776],
       [ 8.16990908],
       [ 2.62498514],
       [ 4.30506653],
       [10.16098426],
       [ 9.76449696],
       [ 4.48823711],
       [ 9.79488141],
       [-2.85488032],
       [ 8.41685721],
       [ 1.36146861],
       [-0.2206676 ],
       [ 8.62239908],
       [ 1.56001015],
       [-1.1619898 ],
       [-3.20757826],
       [10.60275034],
       [ 6.50576463],
       [ 9.19076704],
       [10.36056839],
       [ 6.50433477],
       [10.03765913],
       [ 0.19667176],
       [ 9.56401917],
       [10.0766823 ],
       [ 0.84254986],
       [-2.5334605 ],
       [ 7.80321046],
       [-2.36128194],
       [ 7.22769322],
       [ 3.04432035],
       [ 6.07320325],
       [-1.10211456],
       [ 4.28889128],
       [ 5.81332683],
       [-3.41669477],
       [ 3.37917487],
       [ 9.5744452 ],
       [-1.92845246],
       [ 2.96466543],
       [ 6.19682626],
       [ 0.76384817],
       [10.52827865],
       [ 6.71422579],
       [-0.54655573],
       [ 4.6361081 ],
       [ 9.46958906],
       [ 4.68222097],
       [ 7.57890172],
       [ 9.70223863],
       [ 8.91194503],
       [-1.6776318 ],
       [-0.80929186],
       [-1.33833877],
       [-3.19625856],
       [-3.49146435],
       [ 5.25705308],
       [ 5.44469195],
       [10.06000064],
       [ 7.29948393],
       [ 0.85866553],
       [ 3.75454795],
       [ 0.2184175 ],
       [ 7.28876001],
       [-1.88764198],
       [ 7.48506739],
       [ 8.43443253],
       [ 7.47315192],
       [ 1.39483193],
       [ 5.07641454],
       [ 3.35802491],
       [-2.32702496],
       [ 8.7165313 ],
       [ 6.58997722],
       [ 0.35484964],
       [10.8130584 ],
       [-0.88942341],
       [ 0.84070296],
       [ 2.49760876],
       [-0.10449176],
       [-0.72141527],
       [ 6.87946359],
       [-0.93768106],
       [ 4.1530847 ],
       [ 0.78470025],
       [ 3.26612684],
       [10.15413286],
       [-0.41131514],
       [-3.61181061],
       [ 9.87650239],
       [ 6.50207084],
       [ 4.0431615 ],
       [ 4.1491526 ],
       [-2.09377962],
       [11.22116328],
       [ 1.71988598],
       [ 5.68586108],
       [ 2.23222144],
       [-3.51261431],
       [ 4.49493956],
       [ 3.95615772],
       [ 0.04891992],
       [-2.95050197],
       [ 8.9101577 ],
       [-2.90820205],
       [ 1.08467223],
       [ 8.04181777],
       [10.85654987],
       [ 5.10828842],
       [ 7.96168623],
       [ 7.21190522],
       [ 6.06930093],
       [ 6.27231077],
       [10.3558022 ],
       [ 4.34298752],
       [ 2.30779531],
       [ 6.35932349],
       [ 2.9347576 ],
       [-1.64754524],
       [ 2.91494813],
       [ 4.53006041],
       [ 2.25858441],
       [ 2.30529306],
       [ 7.56400739],
       [ 4.1533528 ],
       [ 3.6779702 ],
       [-2.305875  ],
       [ 0.10968883],
       [ 3.03940522],
       [ 5.87528728],
       [ 6.9399346 ],
       [11.15771339],
       [10.25779746],
       [-2.25314904],
       [10.57564264],
       [-1.20190663],
       [10.82765485],
       [ 5.26530454],
       [-0.04878694],
       [-2.57963294],
       [ 0.84222218],
       [ 8.49043524],
       [-2.48430918],
       [ 1.65295082],
       [-1.66035437],
       [-1.27071847],
       [-2.70117075],
       [ 6.82673763],
       [-2.33864255],
       [ 5.55994434],
       [-1.03836679],
       [ 6.07549698],
       [ 3.80104807],
       [ 0.61103226],
       [ 8.74393689],
       [ 8.56222596],
       [10.34656772],
       [-3.62193876],
       [ 5.91148052],
       [-3.51708261],
       [-2.04164944],
       [-2.03598959],
       [ 1.84115568],
       [-0.05802143],
       [ 1.5288214 ],
       [ 0.09121985],
       [ 2.13835731],
       [ 2.64437757],
       [ 5.90683349],
       [ 8.10348033],
       [ 0.39476646],
       [ 8.94381891],
       [ 7.40195698],
       [ 8.67750814],
       [-0.91295646],
       [-2.65201943],
       [ 5.46405459],
       [ 6.82256721],
       [-1.96419888],
       [-2.19952942],
       [ 5.27763705],
       [ 8.4710726 ],
       [ 8.50592536],
       [-2.2945553 ],
       [ 7.26522695],
       [ 9.8356919 ],
       [ 3.10899157],
       [-2.5739731 ],
       [-0.03299894],
       [ 7.27386567],
       [-3.02348423],
       [ 2.69626945],
       [ 4.41945505],
       [10.57981306],
       [-0.51527762],
       [-1.8938976 ],
       [ 5.99831452],
       [-2.01186076],
       [11.02187703],
       [ 0.07215509],
       [ 5.4045666 ],
       [ 8.53750135],
       [ 8.73648972],
       [ 3.65721345],
       [ 7.70371628],
       [10.00310427],
       [ 9.79279621],
       [-0.43574185],
       [ 4.52142169],
       [ 8.06088252],
       [-0.73064976],
       [ 7.49757864],
       [ 3.45641691],
       [ 5.06053717],
       [ 0.25386602],
       [-2.36336715],
       [ 0.81389315],
       [10.03319083],
       [ 3.38134944],
       [ 0.38672352],
       [ 7.73737749],
       [ 7.8744054 ],
       [-3.30945553],
       [ 9.4800151 ],
       [ 8.2616582 ],
       [ 1.20153321],
       [ 6.3382629 ],
       [ 0.78648757],
       [10.22443414],
       [ 0.57290275],
       [-1.11134905],
       [ 7.47196037],
       [ 3.47989039],
       [ 6.10591122],
       [10.76986482],
       [ 1.03564006],
       [-2.48818171],
       [ 8.16097248],
       [ 1.81544805],
       [ 5.08797254],
       [-0.89597691],
       [-2.48103242],
       [-1.33804088],
       [ 8.68912572],
       [ 0.85583561],
       [ 2.09099332],
       [ 6.06575608],
       [ 8.5476295 ],
       [ 7.78623092],
       [ 1.94639908],
       [-0.79886583],
       [ 6.00251472],
       [-3.57308533],
       [ 0.58660555],
       [ 5.88481966],
       [ 5.19184566],
       [ 1.21827444],
       [11.10320011],
       [-1.79112666],
       [ 7.33374091],
       [-1.29395364],
       [ 2.84708952],
       [ 8.76895938],
       [ 1.73391644],
       [-2.49116057],
       [ 4.66833945],
       [ 0.45345016],
       [-1.6597586 ],
       [ 6.7941786 ],
       [ 3.61052863],
       [-0.9052114 ],
       [-2.1191    ],
       [-0.62430418],
       [-1.61984177],
       [ 1.19593294],
       [10.53095963],
       [ 4.29901943],
       [ 0.06232483],
       [ 2.88623184],
       [ 6.33891825],
       [ 4.5308647 ],
       [ 5.44475153],
       [ 9.22919444],
       [ 2.04351017],
       [ 7.52855886],
       [-1.29276209],
       [-2.76104599],
       [ 1.43299123],
       [ 8.54465064],
       [ 1.99662279],
       [10.85952873],
       [ 5.38910628],
       [ 1.41109655],
       [10.19494335],
       [ 9.7546667 ],
       [ 9.04390886],
       [ 0.1981612 ],
       [ 0.62562871],
       [ 7.98998547],
       [ 6.82018412],
       [ 3.70893255],
       [10.7859507 ],
       [ 3.46541309],
       [11.19167248],
       [ 3.68013881],
       [ 3.87190044],
       [ 7.82376465],
       [ 2.15354954],
       [ 3.12430295],
       [-1.64784312],
       [ 7.67065085],
       [ 4.7921114 ],
       [ 6.03429924],
       [ 8.25987088],
       [-0.34339695],
       [ 9.1511481 ],
       [ 9.84850103],
       [ 0.7227398 ],
       [ 7.18449964],
       [ 1.4291187 ],
       [ 0.43468329],
       [-1.09049698],
       [ 6.26340395],
       [ 4.35445616],
       [ 8.72219115],
       [ 0.35544541],
       [-1.00291827],
       [ 2.79552532],
       [ 3.45787656]])

In [122]:
r2 = metrics.r2_score(x1_train, y_pred)
r2

-10.125312431273185

# Task 2.3. Apply LinearRegression to the following dataset:
*   Red wine quality: https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv . The dataset includes info about the chemical properties of different types of wine and how they relate to overall quality.

In [9]:
#code
data = pd.read_excel("Task3_winequality-red.xlsx")
fixed_acidity_train = data[['fixed acidity']]
volatile_acidity_train = data[['volatile acidity']]
citric_acid_train = data[['citric acid']]
residual_sugar_train = data[['residual sugar']]
chlorides_train = data[['chlorides']]
free_sulfur_dioxide_train = data[['free sulfur dioxide']]
total_sulfur_dioxide_train = data[['total sulfur dioxide']]
density_train = data[['density']]
pH_train = data[['pH']]
sulphates_train = data[['sulphates']]
alcohol_train = data[['alcohol']]
quality_train = data[['quality']]
fixed_acidity_train
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.7,0.00,1.9,76.00,11.0,34.0,9978.0,3.51,0.56,9.4,5.0
1,7.8,0.88,0.00,2.6,98.00,25.0,67.0,9968.0,3.20,0.68,9.8,5.0
2,7.8,0.76,0.04,2.3,92.00,15.0,54.0,997.0,3.26,0.65,9.8,5.0
3,11.2,0.28,0.56,1.9,75.00,17.0,60.0,998.0,3.16,0.58,9.8,6.0
4,7.4,0.7,0.00,1.9,76.00,11.0,34.0,9978.0,3.51,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.6,0.08,2.0,0.09,32.0,44.0,9949.0,3.45,0.58,10.5,5.0
1595,5.9,0.55,0.10,2.2,62.00,39.0,51.0,99512.0,3.52,0.76,11.2,6.0
1596,6.3,0.51,0.13,2.3,76.00,29.0,40.0,99574.0,3.42,0.75,11,6.0
1597,5.9,645.0,0.12,2.0,75.00,32.0,44.0,99547.0,3.57,0.71,10.2,5.0
1598,6.0,0.31,0.47,3.6,67.00,18.0,42.0,99549.0,3.39,0.66,11,6.0

In [8]:
regressor = LinearRegression()
regressor.fit(fixed_acidity_train, quality_train)
print(regressor.intercept_)
print(regressor.coef_)

[5.15732187]
[[0.05753864]]

In [10]:
fixed_acidity_pred = regressor.predict(fixed_acidity_train)
fixed_acidity_pred

array([[5.58310783],
       [5.60612329],
       [5.60612329],
       ...,
       [5.51981532],
       [5.49679987],
       [5.50255373]])

In [11]:
r2 = metrics.r2_score(fixed_acidity_train, fixed_acidity_pred)
r2

-2.265437329322176

# Task 2.4. Apply LinearRegression to the following dataset:
*   Energy efficiency: https://archive.ics.uci.edu/ml/datasets/Energy+efficiency.

In [13]:
data = pd.read_excel("Task4_ENB2012_data.xlsx")
x1_train = data[['X1']]
x2_train = data[['X2']]
x3_train = data[['X3']]
x4_train = data[['X4']]
x5_train = data[['X5']]
x6_train = data[['X6']]
x7_train = data[['X7']]
x8_train = data[['X8']]
y1_train = data[['Y1']]
y2_train = data[['Y1']]
x7_train

      X7
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
763  0.4
764  0.4
765  0.4
766  0.4
767  0.4

[768 rows x 1 columns]

In [14]:
regressor = LinearRegression()
regressor.fit(x7_train, y1_train)
print(regressor.intercept_)
print(regressor.coef_)

[17.51704649]
[[20.43796832]]

In [15]:
y1_pred = regressor.predict(x7_train)
y1_pred

array([[17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [17.51704649],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [19.56084332],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [22.62653857],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382],
       [25.69223382]])

In [16]:
r2 = metrics.r2_score(x7_train, y1_pred)
r2

-27864.57136528818

# Finally,
Save a copy in your Github. Remember renaming the notebook.